@font-face {
    font-family: Lato;
    src: url(./Lato-Regular.ttf);
}
body{
	position: absolute;
	width: 99%;
	height: 97%;
	background-image: url("./pics/congruent_pentagon.png");
    background-repeat: repeat-xy;
    font-family: Lato;
}
nav{
	position: relative;
	width: 101%;
	height: 10%;
	left: -8px;
	top: -8px;
	background: #212A34;
}
.head{
	position: absolute;
	color: white;
	font-size: 40px;
	margin-left: 5px;
	margin-top: 4px;
}
.sub_head{
	position: absolute;
	top: 1.7px;
	left: 310px;
	color: #3385ff;
}
#head_img{
	position: relative;
	top: 7px;
	width: 40px;
	height: 40px;
}
.eng_to_sl{
	position: relative;
	width: 25%;
	height: 80%;
	background-color: white;
	border-radius: 5px;
	top: 5%;
	left: 7%;
	box-shadow: 0px 0px 10px;
	background-image: url("./pics/plaid.jpg");
    background-repeat: repeat-xy; 
}
.sl_to_eng{
	position: relative;
	width: 25%;
	height: 80%;
	background-color: white;
	border-radius: 5px;
	top: -75%;
	left: 37%;
	box-shadow: 0px 0px 10px;
	background-image: url("./pics/wood_pattern.png");
    background-repeat: repeat-xy; 
}
.sp_to_txt{
	position: relative;
	width: 25%;
	height: 80%;
	background-color: white;
	border-radius: 5px;
	top: -155%;
	left: 67%; 
	box-shadow: 0px 0px 10px;
	background-image: url("./pics/hypnotize.png");
	background-repeat: repeat-xy;	
}
#image{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	opacity: 0.8;
}
#sec_head{
	position: absolute;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	margin: 65% 0% 0% 5%;

}
#sec_head1{
	position: absolute;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	margin: 65% 0% 0% 20%;
}